body,div{
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #20f0b1;
}
.watch{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #000000;
}
.handler{
  position: absolute;
  width: 50%;
  height: 5px;
  left: 50%;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  transition: all 0.07;
  background: #000000;

}